<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arale-upload</title>
</head>
<body>
    <button id="uploader">上传文件</button>
    <div id="progress">
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/es6-promise-2.0.1.min.js"></script>
    <script src="/bundle.min.js"></script>
    <script>
        var config = {
            trigger: '#uploader',
            accept: 'image/jpeg,image/png',
            suffix: 'jpeg,png,jpg',
            compress: {
                quality: 0.8
            },
            success: function (response, fileName) {
                console.log(response, fileName)
                var url = ImageUpload.getPath(response)
                $('#progress img[data-filename="' + fileName + '"]').attr('src', url)
            },
            error: function (err, fileName) {
                console.error(err.message, fileName)
            },
            progress: function (event, position, total, percent, fileName) {
                console.log(percent, fileName)
            },
            change: function (files) {
                console.log(files)
                var tpl = ''
                for (var i = 0; i < files.length; i++) {
                    tpl += '<img src="/loading.gif"' + ' data-filename="' + files[i].name + '">'
                }
                $('#progress').html(tpl)
                this.submit()
            }
        }
        var uploadPromise = ImageUpload('upyun', config)
    </script>
</body>
</html>
