<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arale-upload</title>
</head>
<body>
    <button id="uploader" data-accept="image/jpeg,image/png" data-suffix="jpeg,png,jpg">上传文件</button>
    <div id="progress">
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/es6-promise-2.0.1.min.js"></script>
    <script src="/bundle.min.js"></script>
    <script>
        var Upyun = require('upyun')
        var Upload = require('upload')
        Upyun.getConfig().then(function (response) {
            var config = response
            $.extend(config, {
                trigger: '#uploader',
                compress: {
                    max_width: 180,
                    max_height: 180,
                    quality: 0.7
                }
            })
            var upload = new Upload(config)

            upload.success(function (response, fileName) {
                console.log(response, fileName)
                var url = Upyun.getPath(response)
                $('#progress img[data-filename="' + fileName + '"]').attr('src', url)

            }).error(function (err, fileName) {
                console.error(err.message, fileName)

            }).progress(function (event, position, total, percent, fileName) {
                console.log(percent, fileName)

            }).change(function (files) {
                var tpl = ''
                for (var i = 0; i < files.length; i++) {
                    tpl += '<img src="/loading.gif"' + ' data-filename="' + files[i].name + '">'
                }
                $('#progress').html(tpl)
                this.submit()
            })
        })['catch'](function (err) {
            console.log(err.message)
        })
    </script>
</body>
</html>
